Django>=4.2.0
djangorestframework>=3.14.0
psycopg2-binary>=2.9.9
drf-yasg>=1.21.7
python-dotenv==1.0.0
pytest==7.4.3
pytest-django==4.5.2
gunicorn==21.2.0  # Servidor WSGI para produção
djangorestframework-simplejwt==5.3.0  # Autenticação JWT
black==23.11.0  # Formatador de código
isort==5.12.0  # Organização de imports
flake8==6.1.0  # Linter
model-bakery==1.16.0  # Facilita criação de objetos para testes
coverage==7.3.2  # Cobertura de testes
django-extensions==3.2.3  # Extensões úteis para Django
django-filter>=23.5
django-cors-headers>=4.3.1
coreapi>=2.3.3
